# fly.toml app configuration file generated for bd-transaction-v1 on 2024-02-16T15:29:31-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bd-transaction-v1'
primary_region = 'bog'

[build]

[http_service]
  internal_port = 8080
  auto_stop_machines = false
  auto_start_machines = false
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
